.home {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
}

.feed {
  padding: 2rem;
  width: 60%;
}

.feedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 4rem;
}

.profilePostedBy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.profilePostedByImage,
.accountImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.postImageContainer {
  width: 100%;
  overflow: hidden;
}

.profilePostedByImage img,
.postImageContainer img,
.accountImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.likeAndCommentIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3.4rem;
}

.likeCounts {
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}

.captions {
  font-size: 1.4rem;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.addCommentContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.addCommentContainer label {
  width: 80%;
}

.addCommentContainer button {
  width: 20%;
}

.sugesstionToFollow {
  width: 30%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 4rem;
}

.suggestionTextLink,
.suggestedAccount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestedAccount button {
  width: 20%;
}

.accountDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.accountDetails p {
  font-size: 1.6rem;
}

.liked {
  color: var(--heart-icon);
}

.heart {
  display: inline-block;
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  color: var(--heart-icon)
}

.heart-animation {
  animation: heartPopInOut 1s ease-in-out;
}

@keyframes heartPopInOut {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
